@import url(./root.css);

body {
    background-color: var(--bg);
    overflow-y: hidden;
}

.title p {
    color: white;
    font-size: 8vw;
    font-family: var(--font);
    font-weight: 400;
    cursor: default;
    user-select: none;
}

.header .title {
    display: flex;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 15%;
    justify-content: center; align-items: center;
}

.header .title p {
    font-size: 10vw;
    font-weight: 900;
}

.main {
    display: flex;
    position: absolute;
    top: 15%; left: 0px;
    width: 100%; height: calc(100% - 15%);
    justify-content: center;
    background-image: var(--linear-bg);
    border-top-left-radius: 17vw; border-top-right-radius: 17vw;
    transition: 0.3s ease-in-out transform;
}

.main#closed {
    transform: translateY(100%);
}

@keyframes borderClose {
    0% {
    }

    10% {
        border-top-left-radius: 17vw; border-top-right-radius: 17vw;
    }

    100% {
        border-top-left-radius: 0px; border-top-right-radius: 0px;
    }
}

.main#fullscreen {
    height: 100%;
    transform: translateY(-15%);
    animation: borderClose .7s forwards;
}

.main .title {
    display: flex;
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 15%;
    justify-content: center; align-items: center;
}

.main .title p {
    font-size: 8vw;
    font-weight: 400;
}

.main .title::after {
    content: "";
    position: absolute;
    bottom: 0px; left: calc((100% - 57%) / 2);
    width: 57%; height: 1vw;
    background-color: white;
    border-radius: 20px;
}

.main #frame {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    border: 0px none;
    outline: none;
}

.footer {
    display: flex;
    justify-content: center; align-items: center;
    position: absolute;
    bottom: 0px; left: 0px;
    width: 100%; height: 10%;
    background-color: var(--bg);
    border-top-left-radius: 7vw; border-top-right-radius: 7vw;
}

/* .footer .menu {
    display: flex;
    justify-content: center; align-items: center;
    width: 70%; height: 50%;
    background-color: var(--bg);
    border: 1vw solid var(--compliment-color); border-radius: 3vw;
} */

.footer .item {
    display: flex;
    justify-content: center; align-items: center;
    width: 15vw; height: 100%;
    margin-left: 3.5vw; margin-right: 3.5vw;
}

.footer .item img {
    transition: 0.1s ease-in-out transform;
    display: block;
    /* max-width: 20vw; */
    /* max-height: 25vw; */
    width: 10vw;
    height: 10vw;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.footer .item img {
    cursor: pointer;
    transform: scale(0.8);
}

.footer .item#active img {
    transform: scale(1.1);
}

.footer .item:not(.footer .item#active):hover img {
    transform: scale(0.9);
}

.footer .item:nth-child(2):after {
    content: "";
    position: relative;
    top: 0px; right: calc(-50% + (.4vw * 3.5));
    width: .4vw; height: 30%;
    background-color: white;
    border-radius: 20%;
}

.footer .item:nth-child(1):after {
    content: "";
    position: relative;
    top: 0px; right: calc(-50% + (.4vw * 3.5));
    width: .4vw; height: 30%;
    background-color: white;
    border-radius: 20%;
}

